* {
    margin: 0;
    padding: 0;
}


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

body {
    max-width: 1600px;
    background-color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
}


/* Header section Css style start  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}

nav ul {
    display: flex;
    gap: 32px;
}

nav ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

nav ul li a:hover {
    border-bottom: 0.5px solid rgba(70, 145, 101, 1);
    box-shadow: 0px 0px 10px rgba(6, 239, 103, 0.348);
    padding: 16px;
    border-radius: 5px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
}


.btn a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    padding: 12px 16px;
    margin-top: 24px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.238);
}

.btn a:hover {
    background-color: rgba(247, 246, 242, 1);
    border-bottom: 0.5px solid rgba(70, 145, 101, 1);
    box-shadow: 0px 0px 10px rgba(70, 145, 101, 1);
    color: rgb(1, 108, 45);
    padding: 10px;

}

/* Header section Css style end */

/* banner section start  */

.hero {
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    text-align: center;
}

.botn a {

    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(70, 145, 101, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 8px 16px;
    border-radius: 16px;

}

.botn {
    padding-top: 100px;
}

.botn a:hover {
    background-color: rgba(70, 145, 101, 1);
    border-bottom: 0.5px solid rgba(70, 145, 101, 1);
    box-shadow: 0px 0px 5px rgb(32, 209, 106);
    color: rgba(247, 246, 242, 1);

}

.hero h1 {
    font-size: 84px;
    font-weight: 700;
    margin-top: 18px;
    color: rgba(255, 255, 255, 1);

}

.hero h1 span {
    color: rgba(48, 184, 104, 1);
}

.hero p {
    font-size: 16px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 1);
    padding-top: 24px;
    padding-bottom: 24px;
    word-spacing: 0.2em;
}

.btnn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 180px;
    margin-top: 32px;
}

.btn_one a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    padding: 16px;
    border-radius: 10px;
}

.btn_one a:hover {
    background-color: rgba(247, 246, 242, 1);
    border-bottom: 0.5px solid rgba(70, 145, 101, 1);
    box-shadow: 1px 0px 10px rgba(3, 239, 101, 0.715);
    color: rgb(1, 108, 45);
    padding: 10px;
}

.See_btn a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 16px;
    border-radius: 10px;
}

.See_btn a:hover {
    background-color: rgba(0, 0, 0, 0.395);
    border-bottom: 0.5px solid rgba(70, 145, 101, 1);
    box-shadow: 1px 0px 10px rgba(233, 235, 234, 0.715);
    color: rgb(255, 255, 255);
    padding: 30px;
}

/* banner css style end  */

/* notes section start  */

.carcle {
    width: 50px;
    height: 50px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.some_txt {
    margin-top: 80px;
}

.some_txt {
    text-align: center;
}

.some_txt h1 {
    font-size: 48px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
}

.some_txt p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    margin-top: 16px;

}

/* card div css style start  */
#cards {
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-content: center;
    margin: 0 auto;
    margin-top: 44px;
    /* margin-left: 120px;
    margin-right: 120px; */
}

.cad {

    box-shadow: 0px -5px 15px rgb(219 201 201 / 33%);
    border-radius: 15px;
}

.cad:hover {
    box-shadow: 0px -5px 20px rgba(70, 145, 101, 0.616)rgba(70, 145, 101, 1);
    background-color:  rgba(161, 240, 194, 0.841);
    color: rgba(247, 246, 242, 1);
    padding: 5px;
}

.cad .carcle {
    margin: 0 auto;
    margin-top: 50px;
}

.cad h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 25, 49, 1);
    margin-top: 16px;
}

.cad p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    padding: 16px;
    /* margin-top: 16px; */
    margin-bottom: 24px;

}



/* card div css style end  */
/* notes section end  */

/* brain section css style :start  */
.brain {
    margin: 0 auto;
    margin-top: 80px;
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

.brain_text .top_p {
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
}

.brain_text h1 {
    font-size: 48px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
    margin-top: 20px;
}

.brain_text p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    margin-top: 16px;
}

.brain_text ul {
    list-style: none;
    margin-top: 40px;
}

.brain_text ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

.brain_text ul li img {
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 8, 15);
}



/* brain section css style end  */

.joing {
    background-color: rgba(247, 246, 242, 1);
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 80px;
}




.joing h1 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 80px;
    color: rgb(7, 0, 0);

}


.joing p {
    font-size: 16px;
    font-weight: 400px;
    color: rgba(98, 115, 130, 1);
    padding-top: 24px;
    padding-bottom: 24px;
    word-spacing: 0.2em;
}

.joing .btnns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding-bottom: 180px; */
    margin-top: 24px;
}

.joing .btn_two a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 145, 101, 1);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.356);
}
.btn_two a:hover{
    background-color: rgba(10, 1, 1, 0.842);
    border-bottom: 0.5px solid rgba(70, 145, 101, 1);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.joing .last_p {
    padding-top: 32px;
    padding-bottom: 80px;
}


/* footer section css style */

footer {
    width: 100%;
    background-color: rgba(0, 25, 49, 1);
    margin-top: 80px;
}

.fotters {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 920px;
    padding-top: 120px;
    padding-bottom: 80px;
}

.social_links p {
    font-size: 26px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.social_links i {
    color: rgba(255, 255, 255, 1);
    padding: 8px;
    width: 20px;
    height: 20px;
}

.p_last {
    width: 85%;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.466);
    box-shadow: 0px 3px 5px rgba(0, 25, 49, 0.849);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_last p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(250, 250, 250, 1);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
}

/* footer section end */